name: NEU_News_Push

on: 
  push:
  schedule: #设置定时执行和在推送时执行
   - cron: '0 0-16 * * *'

jobs:
  Monitor:
    name: My first job.
    runs-on: ubuntu-latest

    steps:
    - name: Checkout previous content and config
      uses: actions/checkout@v2
    - name: Do data work.
      uses: emon100/Github_Action_Monitor_Webpage@v1
      id: dataWork
      with:
        prevInfoPath: ${{github.workspace}}/prevContent.json
        configPath:  ${{github.workspace}}/config

    - name: ServerChan Notify new stuffs to emon.
      uses: emon100/Action-Serverchan@v1
      if: steps.dataWork.outputs.changed == 'true'
      with:
        # Secret key
        SCKEY: ${{ secrets.SCKEY_emon100 }}
        # Message title
        text: ${{ steps.dataWork.outputs.title }}
        # Message content
        desp: ${{ steps.dataWork.outputs.markdownText }}
      env: 
        STUDENT_ID: ${{ secrets.STUDENT_ID }}
        BB_PASSWORD: ${{ secrets.BB_PASSWORD }}
    
    - name: ServerChan Notify new stuffs to Elizabeth.
      uses: emon100/Action-Serverchan@v1
      if: steps.dataWork.outputs.changed == 'true'
      with:
        # Secret key
        SCKEY: ${{ secrets.SCKEY_Elizabeth }}
        # Message title
        text: ${{ steps.dataWork.outputs.title }}
        # Message content
        desp: ${{ steps.dataWork.outputs.markdownText }}
    - name: echo diff
      if: steps.dataWork.outputs.changed == 'true'
      run: |
        cat<<EOF
        ${{ steps.dataWork.outputs.pureText }}
        EOF
      
    - name: Get date
      run: echo "::set-env name=REPORT_DATE::$(TZ=':Asia/Shanghai' date '+%Y-%m-%d %T')"
      
    - name: When push, notify me.
      if: steps.dataWork.outputs.changed == 'false' && github.event_name == 'push'
      run: 'curl https://sc.ftqq.com/${{ secrets.SCKEY_emon100 }}.send?text=Pushed20%A20%New20%Version'
      
    - name: Add & Commit
      uses: EndBug/add-and-commit@v3.0.0
      with:
       message: ${{ env.REPORT_DATE }} # optional, default is Commit from GitHub Actions
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Leave this line unchanged
