name: NEU_News_Push

on: 
  push:
  schedule: #设置定时执行和在推送时执行
   - cron: '0/5 0,1,2,3,4,5,6,7,8,16,17,18,19,20,21,22,23 * * *'

jobs:
  Monitor:
    name: My first job
    runs-on: ubuntu-latest

    steps:
    - name: Checkout previous content and config
      uses: actions/checkout@v2
    - name: Do data work.
      uses: emon100/Github_Action_Monitor_Webpage@v1
      id: dataWork
      with:
        prevInfoPath: ${{github.workspace}}/prevContent.json
        configPath:  ${{github.workspace}}/config

    - name: ServerChan Notify new stuffs.
      uses: yakumioto/serverchan-action@v1
      if: steps.dataWork.outputs.changed == 'true'
      with:
        # Secret key
        key: ${{ secrets.SCKEY_emon100 }}
        # Message title
        text: ${{ steps.dataWork.outputs.title }}
        # Message content
        desp: ${{ steps.dataWork.outputs.markdownText }}

    - name: Get date
      run: echo "::set-env name=REPORT_DATE::$(TZ=':Asia/Shanghai' date '+%Y-%m-%d %T')"

    - name: Git Auto Commit
      uses: stefanzweifel/git-auto-commit-action@v3.0.0
      with:
    # Commit message
        commit_message: ${{ env.REPORT_DATE }}
